<template>
  <div class="registration-form">
    <slot></slot>
    <form @submit.prevent="onSubmit" novalidate>
      <div class="mb-3">
        <label for="place" class="form-label"
          >Place</label
        >
        <select
          ref="firstField"
          class="form-select"
          id="place"
          v-model="form.selectedPlace"
        >
          <option disabled value="">Choose place</option>
          <option v-for="place in places" :key="place.name" :value="place.name">{{ place.value }}</option>
        </select>
      </div>
      <div class="mb-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="sms"
            v-model="form.channel"
            id="channel-sms"
          />
          <label class="form-check-label" for="channel-sms"> SMS </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="email"
            v-model="form.channel"
            id="channel-email"
          />
          <label class="form-check-label" for="channel-email"> Email </label>
        </div>
      </div>
      <div v-if="form.channel.includes('sms')" class="mb-3">
        <label for="phone-number" class="form-label">Phone number</label>
        <input
          type="tel"
          class="form-control"
          id="phone-number"
          placeholder="+370xxxyyyyy"
          max="12"
          v-model="form.phone"
        />
      </div>
      <div v-if="form.channel.includes('email')" class="mb-3">
        <label for="email-address" class="form-label">Email address</label>
        <input
          type="text"
          class="form-control"
          id="email-address"
          placeholder="name@example.com"
          v-model="form.email"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit info</button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'RegistrationForm',
  props: ['places'],
  data() {
    return {
      form: {
        selectedPlace: '',
        channel: [],
        email: null,
        phone: null
      }
    }
  },
  mounted() {
    this.$refs.firstField.focus();
  },
  methods: {
    onSubmit() {
      console.log('onSubmit');
      this.$emit('submit', this.form);
    }
  }
}
</script>