<template>
  <div id="app">
    <div class="wrapper">
      <RegistrationForm :places="centers" @submit="onRegistration">
        <h1>Vaccination form</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </RegistrationForm>
    </div>
  </div>
</template>

<script>
import RegistrationForm from '@/components/RegistrationForm.vue'
export default {
  name: 'App',
  components: {
    RegistrationForm
  },
  data() {
    return {
      centers: [
        {name: "vilnius-a", value: "Vilnius A"},
        {name: "kaunas-a", value: "Kaunas A"},
        {name: "klaipeda-a", value: "Klaipėda A"}
      ],
      registrations: []
    }
  },
  methods: {
    onRegistration(data) {
      console.log('App:onRegistration', data);
      this.registrations.push(data);
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
.wrapper {
  max-width: 1080px;
  padding: 0 40px;
  margin: 0 auto;
}
</style>
